<script src="~/js/Detay.js"></script>
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="detay_yukle();">
    <center>
        <p id="denem"></p>
        <table id="detay_tablo" style="visibility:hidden;" class="table">
            <caption style=" display: table-caption;text-align: center;"><h2>Sipariş Detayları</h2></caption>

            <thead>
                <tr>
                    <th>Ürün Resmi</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat&nbsp </th>
                    <th>&nbsp Link</th>
                    <th>&nbsp&nbsp</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
        <hr />
        <div class="card">
            <div class="card-body">
                <p id="fiyat"></p>
               </div>
        </div>
    </center>
</body>
