<script src="~/js/Detay.js"></script>
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="deneme();">
    <center>
        <h2 style="padding-top:20px;">Detay</h2>
        <p id="denem"></p>
    </center>
</body>
