<script src="~/js/Siparisler.js"></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="post_func2()">
    <center>
        <h2 style="padding-top:20px;">Siparişler Gözükecek</h2>
        <table class="table" id="tbl2" style="visibility:hidden;">
            <tr>
                <th scope="col">Tarih</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Detay </th>
            </tr>
            <tr></tr>
        </table>
    </center>
</body>
