<script src="~/js/Siparisler.js"></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="siparis_yukle()">
    <center>
        <div style="margin-top:2%" class="table-responsive" >
            <table class="table" id="siparisler_tbl" style="visibility:hidden;">
                <caption style=" display: table-caption;text-align: center;"><h2>Siparişleriniz</h2></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tarih</th>
                        <th>Fiyat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
            </div>
    </center>
</body>
