<script src="~/js/sepet.js"></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="post_func2()">
    <center>
        <h2 style="padding-top:20px;"><p id="sepetyazi"></p></h2>
        <p id="demo"></p>
        <div id="sepet_icerik" class="table-responsive" style="visibility:hidden;">
            <table id="tbl2" class="table">
                <caption style=" display: table-caption;text-align: center;"><h2>Sepetinizdeki Ürünler</h2></caption>
                <thead>
                    <tr>
                        <th>Ürün Resmi</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat&nbsp </th>
                        <th>&nbsp</th>
                        <th>&nbsp&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                <tbody>
            </table>
            <br /> 
            <div class="card">
                <div class="card-body">
                    <p class="card-text" id="toplam_fiyat"></p><br />
                    <div class="form-group">
                        <label for="sel1">Sepet Kategorinizi Seçin:</label>
                        <br />
                        <select class="form-control" id="sel1">
                            <option value="kategori1">Süt ürünleri</option>
                            <option value="kategori2">Et ürünleri</option>
                            <option value="kategori3">Bakliyat</option>
                            <option value="kategori4">İçecekler</option>
                            <option value="kategori5">Atıştırmalıklar</option>
                            <option value="kategori6">Şarküteri</option>
                            <option value="kategori7">Kahvaltılıklar</option>
                            <option value="kategori8">Meyve</option>
                            <option value="kategori9">Sebze</option>
                            <option value="kategori10">Temizlik ürünleri</option>
                            <option value="kategori11">Kırtasiye Ürünleri</option>
                            <option value="kategori12">Kozmetik</option>
                            <option value="kategori13">Bebek ürünleri</option>
                        </select>

                        <br />
                        <button style="width:125px;height:40px;" type="button" class="btn btn-success" id="siparisbtn" onclick="siparis_olustur()">Satın Al</button>
                    </div>
                </div>
        </div>
        </center>
</body>

