<script src="~/js/Istek.js"></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="favorileri_yukle()">
    <center>
        <h2 style="padding-top:20px;"><p id="istekyazi"></p></h2>
        <p id="demo"></p>
        <div id="sepet_icerik" class="table-responsive" style="visibility:hidden;">
            <table id="favori_tbl" style="visibility:hidden;" class="table">
                <caption style=" display: table-caption;text-align: center;"><h2>Favori Ürünleriniz</h2></caption>
                <thead>
                    <tr>
                        <th>Ürün Resmi</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat&nbsp </th>
                        <th>&nbsp </th>
                        <th>&nbsp&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>

        </div>
        <p id="toplam_fiyat"></p>
    </center>
</body>

