@{
    ViewData["Title"] = "Home Page";
}
<body onload="tum_arananlar()">
    <br />
    <p id="aranan_kelimeler"></p>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://www.carrefoursa.com/tr/firsatlar/">
                        <img src="https://reimg-carrefour.mncdn.com/bannerimage/salislot_son_ana_0_MC/8813573308466.jpg" alt="Los Angeles" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>Los Angeles</h3>
                            <p>LA is always so much fun!</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://www.carrefoursa.com/tr/e-pin">
                        <img src="https://reimg-carrefour.mncdn.com/bannerimage/epinsite_0_MC/8813558595634.png" alt="Chicago" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>Chicago</h3>
                            <p>Thank you, Chicago!</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="https://www.migros.com.tr/kopek-mamasi-firsati-l-457b2">
                        <img src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/banner/main_page_slider/5936/7971-724_web_slider_kopek_mama-64fa26.jpg" alt="New York" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>New York</h3>
                            <p>We love the Big Apple!</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br />

    <!--1. KIRMIZI ET-->
    <div class="container">
        <h3 style="float:left">Kırmızı Et</h3>
        <a style="float:right" href="/sonuclar?arama=et">Tümünü Gör ></a>
        <br />
        <hr />
        <img src="http://www.hasaltarim.com/4.jpg" width="350" height="300" style="float:left" />

        <div style="float:left;padding-left:10px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
    </div>
    <!--2. KIRMIZI ET-->
    <div class="container" style="margin-top:25px;">
        <h3 style="float:left">Kırmızı Et</h3>
        <a style="float:right" href="/sonuclar?arama=et">Tümünü Gör ></a>
        <br />
        <hr />
        <img src="http://www.hasaltarim.com/4.jpg" width="350" height="300" style="float:left" />

        <div style="float:left;padding-left:10px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
        <div style="float:left;margin-left:4px;">
            <img class="card-img-top" src="https://migros-dali-storage-prod.global.ssl.fastly.net/sanalmarket/product/03111309/03111309-559360.jpg" height="190">
            <div class="card-body">
                <h5 class="card-title">6,45 TL</h5>
                <p class="card-text">Çaykur Çay Çiçeği 200 G</p>
                <br />
                <center><a style="margin-left:0px;" href="https://www.migros.com.tr/caykur-cay-cicegi-200-g-p-2f798d" class="btn btn-danger">Ürüne Git</a></center>
            </div>
        </div>
    </div>



</body>