@{
    ViewData["Title"] = "Home Page";
}
<body onload="tum_arananlar()">
    <br />
    <p id="aranan_kelimeler"></p>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->

        <ol class="carousel-indicators">

            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

            <li data-target="#carousel-example-generic" data-slide-to="1"></li>

            <li data-target="#carousel-example-generic" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <!-- 1nci slide için başlangıç -->

            <div class="item active">
                <a href=" https://www.carrefoursa.com/tr/hafta-sonu-indirimleri">

                    <img style="margin:auto; max-height:100%; max-width:100%;" src="~/img/Fırsatlar.png" alt="image01">
                    <div class="carousel-caption">
                        Carrefoursa
                    </div>

                </a>
            </div>

            <!-- // 1nci slide için bitiş -->
            <!-- 2nci slide için başlangıç -->

            <div class="item">
                <a href=" https://www.migros.com.tr/paket-mangal-sucuk-firsati-l-45787">
                    <img style="margin:auto; max-height:100%; max-width:100%;" src="~/img/Fırsat.jpg" alt="image02">

                    <div class="carousel-caption">

                        Migros

                    </div>
                </a>
            </div>

            <!-- // 2nci slide için bitiş -->
            <!-- 3ncü slide için başlangıç -->

            <div class="item">
                <a href=" https://www.carrefoursa.com/tr/e-pin">

                    <img style="margin:auto; max-height:100%; max-width:100%;" src="~/img/fırsat1.png" alt="image03">

                    <div class="carousel-caption">

                        Carrefoursa

                    </div>
                </a>
            </div>

            <!-- // 3ncü slide için bitiş -->

        </div>

        <!-- Controls -->

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>

        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

        </a>

    </div>
    <--!>İKİNCİ SLİDER</--!>
    <br />
    <br />
    <div class="accordian">
        <ul>
            <li>
                <div class="image_title">
                    <a href="#">KungFu Panda</a>
                </div>
                <a href="#">
                    <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Toy Story 2</a>
                </div>
                <a href="#">
                    <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Wall-E</a>
                </div>
                <a href="#">
                    <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Up</a>
                </div>
                <a href="#">
                    <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Cars 2</a>
                </div>
                <a href="#">
                    <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" />
                </a>
            </li>
        </ul>
    </div>


</body>
